$redColor: var(--red-color);
$blueColor: var(--blue-color);
$greenColor: var(--green-color);
$whiteColor: var(--white-color);
$blackColor: var(--black-color);
$pureWhite: var(--pure-white-color);
$pureBlack: var(--pure-black-color);
$borderColor: var(--border-color);
